@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500;600&display=swap');
@import "functions";

$font: 'Montserrat', sans-serif;

$sm-size: 10px;
$md-size: 12px;
$lg-size: 14px;

$gray-bg-color: #E5E5E5;
$gray-insight-color: #BDBDBD;
$gray-text-color: #A9A9A9;


* {
    box-sizing: border-box;
}

body {
    font-family: $font;
    font-size: $sm-size;
    font-weight: 600;
    color: $gray-text-color;
    text-align: center;
}

.wrapper {
    width: 60vw;
    max-width: 864px;
    margin: auto;
}

img {
    max-width: 100%;
    height: auto;
}

.profil {
    display: flex;
    flex-direction: column;

    .profil__photo {
        width: 14%;
        border-radius: 16px;
        margin: auto;
        margin-top: 41px;
    }

    .profil__name {
        color: initial;
        font-size: $lg-size;
        margin-bottom: 0.5em;
    }

    .profil__location {
        margin: 0;
    }

    .profil__insights {
        display: flex;
        justify-content: center;
        font-size: $md-size;
        gap: 24px;
        margin-top: 24px;
    }
}

.insights--bg {
    background-color: $gray-bg-color;
    border-radius: 12px;
    min-width: 100px;
    text-align: center;
    color: $gray-insight-color;

    .insights--color {
        color: initial;
    }
}

.grid {
    display: grid;
    grid-template-areas:
        "item1 item2 item2"
        "item3 item3 item4"
        "item5 item6 item4";
    gap: 24px;
    margin-top: 40px;

    img {
        border-radius: 12px;
    }
}

@for $i from 1 to 6 {
    .grid__item#{$i} {
        grid-area: item#{$i};
    }
}

.copyright {
    margin-top: 99px;
    margin-bottom: 24px;
    font-size: $lg-size;
}

@media only screen and (min-width: 375px) and (max-width: 768px) {

    .wrapper {
        width: calc(100vw - (8px * 2));
    }

    .profil {

        .profil__photo {
            width: 25%;
            margin-top: 17px;
        }

        .profil__insights {
            gap: 12px;
            margin-top: 12px;
        }
    }

    .insights--bg {
        min-width: 78px;
    }

    .grid {
        gap: 12px;
    }

    .copyright {
        margin-top: 33px;
        font-size: 14px;
    }
}